data/
grant_images/
slice_data/
.ipynb_checkpoints/
data_all/
*.pyc
*.pth
scripts/errors/
scripts/run_output/
*.pyc
outputs/
scripts/config
scripts/run.sh
src/.engine.py.swp 
test_data/
scripts/run_output
scripts/errors
notebooks/
outputs/debug
scripts/misc
__pycache__/
