grant_images/
slice_data/
data_all/
test_data/

.ipynb_checkpoints/
*.pyc
*.pth
__pycache__/

scripts/errors/
scripts/run_output/
scripts/config
scripts/run.sh
scripts/run_output
scripts/errors
scripts/misc

notebooks/
outputs/
outputs/debug

src/.engine.py.swp 
